<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageInverter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>autoinput.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>580A7E6E1E5AE00200CDF835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>580A7E861E5AE0ED00CDF835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58E360D21E5BE43E00A1B53C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB08CC6218EBC99F00B3A377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBD370E71927109E00255BCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
